:root {
    --brand-font-family:Zen Loop;
    --contents-font-family: Roboto ;
    --qoutes-font-family: Kaushan Script ;
}

html {
    font-family: var(--contents-font-family);
    scroll-behavior: smooth;
}
/* header starts here */
.qoutes {
    font-family: Kaushan Script;
    font-size: 26px;
     
}
.aiman {
    border: 2px solid black;
    border-left: none;
    border-radius: 10px;
    
}
.title {

    font-family: var(--brand-font-family);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--brand-font-family);
    font-weight: 900;
    

}
header {
    background-color: #dfd3e6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23313539' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%231f221f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%232c3033' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231a1d1a' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23282b2d' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23161716' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23242727' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23101210' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23202222' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23090a09' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%231c1d1d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23000000' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.nav-link {

    color: black;
    
}
.nav-link:hover {
    transform: scale(1.1);
    transition: .5s ease transform;
}
a {
    
    color: gray;
}
.banner {
    height: 100vh;
}
.banner-container {
    height: 100vh;
}
.banner-contents {
    padding-bottom: 100px;
}
.btn-group > button:hover {
    transform: scale(1.1);
    background-color: black;
    transition: .4s background-color ease,.4s transform ease;
}

/* header ends here */

/* services starts here */
#services {
    background-color: #080808;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23474a50' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23101010' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%233d3e43' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23101111' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23323237' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23111212' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2328272b' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23111213' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%231e1d20' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23121314' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23141215' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23121415' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    padding: 60px;
}
#services h2 {
    padding-top: 2rem;
    padding-bottom: 0;
    font-family: Zen Loop;
    
}
.cards {
    background-color: rgba(155, 152, 152, 0.11)
}
.cards:hover {
   margin-top: -10px;
  transition: margin-top .3s ease-in-out;

}
hr {
   
    border:white dotted 5px;
    border-bottom: none;
    width: 0px;
    animation: widths 1s 1 forwards;
}
@keyframes widths {
 from {
     width: 0px;
 }
 to {
     width: 150px;
 }
}


/* services ends here */

/* about-me starts here */
#about-me {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cccccc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23babbb9' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c8c8c9' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23aaaca8' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c5c4c5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239b9e98' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c1c0c2' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%238c9088' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23bebcbe' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%237d8278' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23bab8bb' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%236f7469' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.title {
    
    margin-top: 2%;
}
.row h4,h5,h6 {
    font-family: Roboto;
    font-weight: bold;
}
.row {
    font-family: Roboto !important;
    font-weight: lighter;
}
#about-me hr {
    border:5px black dotted ;
    border-bottom: none;
    width: 0px;
    animation: widths 1s 3 forwards;
}
.icon {
    color: black;

}
.box-container {
    margin: 3% 0%;
}

.SKILL ul {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0 !important;
}

.SKILL ul li {

   
    text-align: left;
    list-style: none;
    position: relative;
    margin: 30px 0px;
}
  
.SKILL ul li::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;


    background-color: rgb(170,167,173);
    width: 100%;
    height: 15px;
    border-radius: 1000px;

}
.SKILL ul li::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left:0;
    background-color: black;
    width: 0%;
    height: 15px;
    border-radius: 1000px;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.SKILL ul li.html::after {
    animation-name: html1;
}
@keyframes html1 {
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}
.SKILL ul li.css::after {
    animation-name: css;
}
@keyframes css {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
.SKILL ul li.python::after {
    animation-name: python;
}
@keyframes python {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
.SKILL ul li.java::after {
    animation-name: java;
}
@keyframes java {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

/* about-me ends here */

/* projects starts here */
#projects {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231e2221' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23373737' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%231b1e1e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232d2d2d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23181b1c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23232323' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23161718' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231a1a1a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23131315' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23101010' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%230f0f10' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23000000' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.card {
    background-color: rgba(155, 152, 152, 0.11);
    color: white;
    padding: 0px !important;
    margin: 20px 5px;
   
}
.card:hover {
    margin-top :-15px;
    transition: margin-top .4 ease;
}
/* projects ends here */